{
  "openapi": "3.1.0",
  "info": {
    "title": "StarPay API",
    "version": "1.0.0",
    "description": "StarPay API is a RESTful API that provides access to various functionalities of the StarPay system.\nThis API allows users to manage product categories, including creating, updating, deleting, and retrieving product categories.\nThe API uses JWT for thirdparty and supports various response formats.\n"
  },
  "servers": [
    {
      "url": "https://starpayqa.starpayethiopia.com/v1/starpay-api",
      "description": "Local server"
    }
  ],
  "paths": {
    "/erp/get-institutions": {
      "get": {
        "operationId": "getInstitutions",
        "tags": ["erp"],
        "summary": "Get supported institutions",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-secret",
            "required": true,
            "description": "API secret key.",
            "schema": {
              "type": "string",
              "example": "MFUxSN98EV5IUU+RhYZh2f866adcTa4F5HJ2dGI3t8+MH3cvfk/gAZ492TnxwdiI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Institution list fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/erp/account-lookup": {
      "post": {
        "operationId": "accountLookup",
        "tags": ["erp"],
        "summary": "Lookup account holder details",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-secret",
            "required": true,
            "description": "API secret key.",
            "schema": {
              "type": "string",
              "example": "MFUxSN98EV5IUU+RhYZh2f866adcTa4F5HJ2dGI3t8+MH3cvfk/gAZ492TnxwdiI"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account lookup successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLookupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/erp/initiate-payment": {
      "post": {
        "operationId": "initiatePayment",
        "tags": ["erp"],
        "summary": "Initiate payment",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-secret",
            "required": true,
            "description": "API secret key.",
            "schema": {
              "type": "string",
              "example": "MFUxSN98EV5IUU+RhYZh2f866adcTa4F5HJ2dGI3t8+MH3cvfk/gAZ492TnxwdiI"
            }
          },
          {
            "in": "header",
            "name": "x-message-id",
            "required": false,
            "description": "Required when `paymentInitiationType` is `OTP`.",
            "schema": {
              "type": "string",
              "example": "0a162ea504918e1c85f64da9733b64bf25ff400394f8e1da6cdfb656e1338b9a8fe47e1b32429f13b1495b075857bf98"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiatePaymentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/erp/verify-otp-payment": {
      "post": {
        "operationId": "verifyOtpPayment",
        "tags": ["erp"],
        "summary": "Verify OTP payment",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-secret",
            "required": true,
            "description": "API secret key.",
            "schema": {
              "type": "string",
              "example": "MFUxSN98EV5IUU+RhYZh2f866adcTa4F5HJ2dGI3t8+MH3cvfk/gAZ492TnxwdiI"
            }
          },
          {
            "in": "header",
            "name": "x-message-id",
            "required": true,
            "description": "Message ID from account lookup when verifying OTP payment.",
            "schema": {
              "type": "string",
              "example": "0a162ea504918e1c85f64da9733b64bf25ff400394f8e1da6cdfb656e1338b9a8fe47e1b32429f13b1495b075857bf98"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtpPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP payment verified successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyOtpPaymentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PhoneNumber": {
        "description": "Phone Number for Pre Login.",
        "type": "string",
        "format": "numeric",
        "example": "09........."
      },
      "merchantId": {
        "description": "merchant id",
        "type": "string",
        "example": 12345
      },
      "Email": {
        "description": "Email address for Pre Login.",
        "type": "string",
        "format": "email",
        "example": "museum-lover@example.com"
      },
      "payload": {
        "type": "string",
        "format": "JWT token",
        "example": "7FfzaiLexvWwqVmV52Z3vpSPxzrbNdw0qV/zycH+eykhZwf0YDcRbTSMBEJyzy4ppZkweDaE18MTZQD5704psZCPZldTPZg6\n"
      },
      "pk": {
        "description": "The `pk` or public key is used to verify the signature of the payload.\nIt is a string that represents the public key associated with the private key used to sign the payload.\nYou can use the following example to create a public key:\n\n```json\n {\n  \"pk\": \"ROKiu5r+tTTvABFk8/RQuj1JeFhxV5uD1U/qEyutETY=\"\n}\n\n```\n",
        "type": "string",
        "format": "JWT token",
        "example": "ROKiu5r+tTTvABFk8/RQuj1JeFhxV5uD1U/qEyutETY="
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "example": "6812220726f547936d6c1976"
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "item_name": {
            "type": "string",
            "example": "mobile"
          },
          "unit_price": {
            "type": "number",
            "example": 500
          }
        },
        "required": ["productId", "quantity", "item_name", "unit_price"]
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "69ae7e39f67d9ae4f44f18e5"
          },
          "swiftCode": {
            "type": "string",
            "example": "ABAYETAA"
          },
          "institutionName": {
            "type": "string",
            "example": "Abay Bank"
          },
          "logo": {
            "type": "string",
            "format": "uri"
          },
          "pushPayment": {
            "type": "boolean",
            "example": true
          },
          "otpPayment": {
            "type": "boolean",
            "example": false
          },
          "ussdPayment": {
            "type": "boolean",
            "example": true
          },
          "ussdCallbackType": {
            "type": "string",
            "example": "Callback"
          }
        },
        "required": ["id", "swiftCode", "institutionName", "logo", "pushPayment", "otpPayment"]
      },
      "GetInstitutionsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Success"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          }
        },
        "required": ["status", "timestamp", "message", "data"]
      },
      "AccountLookupRequest": {
        "type": "object",
        "properties": {
          "swift_code": {
            "type": "string",
            "example": "DASHETAA"
          },
          "accountNumber": {
            "type": "string",
            "example": "5075361069011"
          }
        },
        "required": ["swift_code", "accountNumber"]
      },
      "AccountLookupResponseData": {
        "type": "object",
        "properties": {
          "accountHolderName": {
            "type": "string",
            "example": "TESFAYE LEMI BEKELE"
          },
          "messageId": {
            "type": "string"
          }
        },
        "required": ["accountHolderName", "messageId"]
      },
      "AccountLookupResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Success"
          },
          "data": {
            "$ref": "#/components/schemas/AccountLookupResponseData"
          }
        },
        "required": ["status", "timestamp", "message", "data"]
      },
      "PaymentCustomer": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string",
            "example": "Walk-in Customer"
          },
          "phoneNumber": {
            "type": "string",
            "example": "+251944719460"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "customer@gmail.com"
          },
          "accountNumber": {
            "type": "string",
            "description": "Required when payment type is OTP.",
            "example": "5075361069011"
          }
        },
        "required": ["fullName", "phoneNumber", "email"]
      },
      "InitiatePaymentRequest": {
        "type": "object",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/PaymentCustomer"
          },
          "amount": {
            "type": "number",
            "example": 100
          },
          "paymentInitiationType": {
            "type": "string",
            "enum": ["USSD_PUSH", "LOCAL_CARD", "INTERNATIONAL_CARD", "QR", "REFERENCE", "OTP", "CASH", "IN_APP_PUSH"],
            "example": "USSD_PUSH"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "customerVat": {
            "type": "number",
            "example": 0.03
          },
          "swift_code": {
            "type": "string",
            "example": "telebirr"
          },
          "callbackURL": {
            "type": "string",
            "format": "uri",
            "example": "http://localhost:2222/starpay/complete_payment"
          },
          "currency": {
            "type": "string",
            "example": "ETB"
          }
        },
        "required": ["customer", "amount", "paymentInitiationType", "items", "customerVat", "swift_code", "callbackURL", "currency"]
      },
      "InitiatePaymentResponseData": {
        "type": "object",
        "properties": {
          "bill_ref": {
            "type": "string",
            "example": "NC61HO4977"
          },
          "customer_name": {
            "type": "string",
            "example": ""
          }
        },
        "required": ["bill_ref", "customer_name"]
      },
      "InitiatePaymentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Success"
          },
          "data": {
            "$ref": "#/components/schemas/InitiatePaymentResponseData"
          }
        },
        "required": ["status", "timestamp", "message", "data"]
      },
      "VerifyOtpPaymentRequest": {
        "type": "object",
        "properties": {
          "otpCode": {
            "type": "string",
            "example": "686435"
          },
          "accountNumber": {
            "type": "string",
            "example": "5075361069011"
          },
          "billRefNo": {
            "type": "string",
            "example": "HY724Z749C"
          }
        },
        "required": ["otpCode", "accountNumber", "billRefNo"]
      },
      "VerifyOtpPaymentResponseData": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "billRefNo": {
            "type": "string",
            "example": "HY724Z749C"
          },
          "status": {
            "type": "string",
            "example": "PAID"
          },
          "amount": {
            "type": "number",
            "example": 100
          },
          "customerName": {
            "type": "string",
            "example": "Walk-in Customer"
          },
          "customerPhoneNumber": {
            "type": "string",
            "example": "+251944719460"
          },
          "merchantName": {
            "type": "string",
            "example": "kaldis hq"
          },
          "merchantId": {
            "type": "string",
            "example": "6992cc567b78d101f42345a6"
          },
          "externalReference": {
            "type": "string",
            "example": "075SMPC231670253"
          },
          "paymentChannel": {
            "type": "string",
            "example": "OTP_ACCOUNT"
          },
          "paidAt": {
            "type": "string",
            "example": "25 Mar 2026, 1:56 PM"
          },
          "redirectUrl": {
            "type": "string",
            "example": ""
          },
          "paidAmount": {
            "type": "number",
            "example": 100
          }
        },
        "required": ["transactionId", "billRefNo", "status", "amount", "customerName", "customerPhoneNumber", "merchantName", "merchantId", "externalReference", "paymentChannel", "paidAt", "redirectUrl", "paidAmount"]
      },
      "VerifyOtpPaymentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Success"
          },
          "data": {
            "$ref": "#/components/schemas/VerifyOtpPaymentResponseData"
          }
        },
        "required": ["status", "timestamp", "message", "data"]
      },
      "PaymentRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "example": 1000
          },
          "description": {
            "type": "string",
            "example": "VANS+"
          },
          "currency": {
            "type": "string",
            "example": "ETB"
          },
          "customerName": {
            "type": "string",
            "example": "test"
          },
          "customerPhoneNumber": {
            "type": "string",
            "example": "+251987654567"
          },
          "callbackURL": {
            "type": "string",
            "example": "https://example.com/start_pay_callback"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "example": "test12@gmail.com"
          },
          "expiredAt": {
            "type": "string",
            "example": "2025-07-01T23:59:59Z"
          },
          "redirectUrl": {
            "type": "string",
            "example": "https://google.com",
            "description": "-`The URL where the payment gateway will automatically redirect the customer after a successful payment. This is used to bring the customer back to your website or app to show a confirmation page, receipt, or next steps.`"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productId": {
                  "type": "string",
                  "example": "6812220726f547936d6c1976"
                },
                "quantity": {
                  "type": "integer",
                  "example": 1
                },
                "item_name": {
                  "type": "string",
                  "example": "mobile"
                },
                "unit_price": {
                  "type": "number",
                  "example": 500
                }
              },
              "required": ["productId", "quantity", "item_name", "unit_price"]
            }
          }
        },
        "required": [
          "amount",
          "description",
          "currency",
          "customerName",
          "customerPhoneNumber",
          "items",
          "api_secret"
        ]
      },
      "trdpSessionResponseResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "succes"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-06T08:31:28.204"
          },
          "message": {
            "type": "string",
            "example": "Session token generated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "session_token": {
                "type": "string",
                "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjoiM2IxNjljN2Q1OTU3ZjgyOWQ3YzI1ZGQ1Mjc1NjZlNWUuMWNmMDcxYmJlYzA5OTNmNWRiOGFhNzMwMWQyM2UwZmVmMWM4MmJiZmM3YzQ0NDQzNWViZDgxNGZlZDYxODQ3ODQ5YmIyMTRmNDY3ZDA1ODgzMmQxMjdiNDE1OTMyOGNkM2NkZGMyNTNiNmRhOGNlMjZjZmYwMmE1YmI1OTY2MjIxZmUzNjY4YTVhMmFmOWQxNTEyODhhNTAxNGZhNmQyOTNkNzVkZjIxYzk1MGQxZTdhZDQ2ZGNhYTM1NTUwMjdlNWU4OWQ0YmFiZjc0MTlkNDc4ZTFhZTZmOTE4Mjc3YWZkMDc3MzMzMzdlZDNiZGU3MDRlY2E1NzM1MDQ3OGU5YTJhMWVkNTExNzFlNTI4NWViMzdiMGQ2ZGJiMDc0YTJiMWE3NjI1MDIxMjY4ZTdjYTZmNDgwOTczOWVmYjE5NmI1YTYzZjQwZmUzZWU4NjMzMGYyODBmNmY4OTY5ODUyZjUzOWU5NGMzNGJhNjhmZDg3MzNmNDVkNjJhODhiOTYzZDkzYS43MzhjMmNiMzY4NDc0YmM0NzljNGVkODY4NzYxODk3YiIsImlhdCI6MTc0NjUyMDI4OCwiZXhwIjoxNzQ2NjA2Njg4fQ.1QzHPn3r2gzYv5rReuSi1l1buF3CrYKv_9eQKlcvzYw"
              }
            },
            "required": ["access_token"]
          }
        },
        "required": ["status", "timestamp", "message", "data"]
      },
      "trdpSessionResponse": {
        "description": "Create session.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "payload": {
                "$ref": "#/components/schemas/payload",
                "description": "The payload includes the following fields:\n\n- `merchant_id`\n\n- `api_secret`\n"
              },
              "pk": {
                "$ref": "#/components/schemas/pk"
              }
            }
          }
        ]
      },
      "createOrder": {
        "description": "Create session.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentRequest",
            "description": "The payload includes the following fields:\nyou can use the following example to create a payload:\n\n\n    Attention!:\n\n    - `merchant_id`\n\n\n    - `api_secret`\n"
          }
        ]
      },
      "verifypayment": {
        "description": "Create session.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "description": "Unique identifier of the order.",
                "example": "5428255034"
              }
            }
          }
        ]
      },
      "verifyOtp": {
        "description": "Data to Pre Login.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "payload": {
                "$ref": "#/components/schemas/payload"
              },
              "pk": {
                "$ref": "#/components/schemas/pk"
              }
            }
          }
        ]
      },
      "OrderCreationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Order created successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "payment_url": {
                "type": "string",
                "format": "uri"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "merchant_id": {
                    "type": "string"
                  },
                  "customer_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "PaymentVerificationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Payment verified successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "example": "PAID"
              },
              "amount": {
                "type": "number",
                "example": 100
              },
              "currency": {
                "type": "string",
                "example": "ETB"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "BadRequestException"
              },
              "message": {
                "type": "string",
                "example": "Missing required payload data, pk and payload is required"
              }
            }
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Something wrong"
          },
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "ABC_001"
              },
              "message": {
                "type": "string",
                "example": "not found"
              }
            }
          }
        }
      },
      "serverError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Something wrong"
          },
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "GEN_004"
              },
              "message": {
                "type": "string",
                "example": "An unexpected server error occurred."
              }
            }
          }
        }
      },
      "thirdpartyError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Something wrong"
          },
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "GEN_004"
              },
              "message": {
                "type": "string",
                "example": "An unexpected server error occurred."
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/thirdpartyError"
            }
          }
        }
      },
      "ServerError": {
        "description": "internal.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/serverError"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerJwt": {
        "type": "http",
        "scheme": "Bearer",
        "bearerFormat": "Json Web Token (JWT)",
        "description": "Jwt Auth: Authenticated requests contain a valid Json Web Token (JWT) as part of the `Authorization: Bearer <JWT>` header."
      }
    }
  },
  "tags": [
    {
      "name": "erp"
    },
    {
      "name": "thirdparty"
    }
  ]
}
